@model StaApplication.Models.Karyawan

@{
    ViewData["Title"] = "Edit";
}

<h4>Karyawan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDKaryawan" />
            <div class="form-group">
                <label asp-for="NmKaryawan" class="control-label"></label>
                <input asp-for="NmKaryawan" class="form-control" />
                <span asp-validation-for="NmKaryawan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TglMasukKerja" class="control-label"></label>
                <input asp-for="TglMasukKerja" class="form-control" />
                <span asp-validation-for="TglMasukKerja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usia" class="control-label"></label>
                <input asp-for="Usia" class="form-control" />
                <span asp-validation-for="Usia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

